<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
   <nav class="navbar">
    <a class="title-nav" href="/">Livros</a>

<p></p>

  <a class="title-nav" href="/cadastrar">Cadastrar</a>
   </nav>
  {{{body}}}



  <footer>
  <h4> &copy;  Todos os direitos reservados a Luan Honorio </h4>
</footer>


</body>
</html>