

<div class="bx-cad">
    <h2>Cadastrar Livro</h2>
</div>

<div class="cont-ques">
    <form action="/cadastrar" method="post">
        <div>
            <label for="">Titulo do livro :</label>
            <input class="input-txt" type="text" name="titulo" placeholder="Digite o Nome do Livro...">
        </div>
        <div>
            <label for="">Categoria do livro:</label>
            <input class="input-txt" type="text" name="categoria" placeholder="Digite a Categoria do livro...">
        </div>
        <div>
            <label for="">Descrição do Livro: </label>
            <input class="input-txt" type="text" name="descricao" placeholder="digite a descrição do livro..">
        </div>
        <div class="dois">
           <div>
            <label for="">Preço do livro</label>
             <input class="input-vq" type="text" name="valor" placeholder="R$ 50,00">
           </div>
            <div>
                <label for="">Quantidade disponivel</label>
                <input class="input-vq" type="text" name="quantidade" placeholder="60">
            </div>
        </div>
        <div class="BOX-BTN">
            <input class="input-c" type="submit" value="Cadastrar">
        </div>

    </form>
</div>